name: Auto-Compile CV

on:
  push:
    paths:
      - 'cv.tex'

permissions:
  contents: write

jobs:
  compile:
    runs-on: ubuntu-latest
    
    steps:
      - name: Get files
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
        
      - name: Compile PDF
        uses: xu-cheng/latex-action@v3
        with:
          root_file: cv.tex
          
      - name: Save PDF
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git pull --rebase
          git add cv.pdf
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update CV PDF [skip ci]" && git push)